body,
html {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #222831;
    color: #f9ffee;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.59;
    font-weight: 300;
    font-size: 18px;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
p {
    margin: 0
}

a {
    display: block;
    color: #ccc;
    color: #f9ffee;
    text-decoration: none;
    transition: all ease .4s
}

a:hover {
    color: #efbb35
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.in_text_link {
    display: inline;
    text-decoration: underline;
    text-decoration-color: #efbb35;
}