.logo {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 200px
}

.top {
    text-align: center;
    position: relative
}

.top__hidden {
    position: absolute;
    z-index: -100;

    height: 0;
    width: 0;
    opacity: 0;
}

.top__bold {
    position: relative;
    display: inline-block;

    padding: 0 40px;

    font-size: 130px;
    font-weight: 700;
    color: #efbb35;
    text-transform: uppercase;
    transition: none;
}

.top__text {
    font-size: 30px;
    font-weight: 100;
    color: #efbb35;
    transition: none;

    padding-bottom: 50px;
}

.show.top__text {
    transform: translateY(-90px) scale(2.5, 2.5);
    position: relative;
    z-index: 3
}

.hide.top-interactive_1 {
    opacity: 0
}

.top-interactive_2 {
    position: absolute;

    padding: 40px 0;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;

    font-size: 80px;
    color: #efbb35;
    transition: none;
}

.show.top-interactive_2 {
    opacity: 1;
    z-index: 2
}

.hide.top-interactive_2 {
    opacity: 0;
    z-index: 1;
    cursor: auto
}

.middle {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.middle__item {
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    text-align: center;
    transition: none;
}

.middle__link {
    font-size: 24px;

    transition: none;
}

.middle__item:not(.opened) .middle__wrap {
    height: 0!important
}

.middle__wrap {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all ease 1.5s
}

.opened .middle__wrap {
    position: relative;
    z-index: 2;

    opacity: 1;
}

.condition .middle__item:not(.opened) {
    max-height: 0;
    opacity: 0
}

.middle__item:not(.opened) .middle__video {
    width: 0;
}

.middle__close {
    opacity: 0;
    transition: opacity ease .5s .5s, color ease 1s
}

.opened .middle__close {
    opacity: 1;
    color: #efbb35
}

.middle__close-pad_top {
    margin-top: 30px
}

.cont_wr {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.cont_wr__image {
    display: block
}

.cont_wr__item {
    width: 100%
}

.cont_wr__img_item {
    width: 25%;
    transition: transform ease 1s;
    display: block;
}

.cont_wr__img_item:hover {
    transform: scale(1.2, 1.2)
}

.cont_wr__item p {
    width: 47%;
    margin: 0 auto 20px
}

.mobile {
    display: none
}

.greeting {
	position: absolute;

	bottom: 20px;
	left: 0;
	right: 0;
	padding: 0 50px;

	text-align: center;

	opacity: 0;
	z-index: -1;
}

.greeting-vis {
	opacity: 1;
	z-index: 1;

	transition: all ease 1s 3s;
}

.greeting-hid {
	opacity: 0;
	z-index: -1;

	transition: all ease 2s;
}

.solo_link{
    display: block;

    padding-bottom: 20px;
}

.store_links__logo{
    height: 60px;
    width: 68px;
}

.popUp {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.upd-hide {
    display: none;
}

.upd-show {
    display: block;
}

@media screen and (max-width:1601px) {
    .top__text {
        padding-bottom: 20px
    }
    .middle__link.clicked {
        margin-bottom: 20px
    }
    .cont_wr__item p {
        width: 50%;
    }
}

@media screen and (max-width:1439px) {
    .top__bold {
        font-size: 90px
    }
    .top-interactive_2 {
        font-size: 60px;
        padding: 25px 0
    }
    .show.top__text {
        transform: translateY(-84px) scale(2, 2)
    }
    .middle__link {
        font-size: 20px
    }
    .middle__item {
        max-height: 36px
    }
    .middle__close-pad_top {
        margin-top: 20px
    }
    .cont_wr__item p {
        margin-bottom: 14px;
        font-size: 16px
    }
    .popUp__text {
        font-size: 20px
    }
    .middle__video{
    	width: 400px;
    	height: 226px;
    }
}

@media screen and (max-width:1023px) {
    body, html{
    	overflow: initial;
    }
    footer{
    	display: none;
    }
    .middle__item,
    .middle__item:not(.opened) .middle__wrap{
    	max-height: initial;
    	height: auto !important;
    }
    .middle__wrap{
    	opacity: 1;

    	padding-bottom: 20px;
    }
    .cont_wr__item p{
    	width: 100%;
    	padding: 0 20px;

    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
    }
    .middle__close{
    	display: none;
    }
    .top__bold{
    	font-size: 50px;
    }
    .top__text{
    	font-size: 22px;
    }
    .middle__link{
    	text-decoration: underline;
    	font-weight: normal;

    	padding-bottom: 20px;
    }
    .popUp{
    	display: none;
    }
    .cont_wr__image {
        width: 100%;
        height: auto;
    }
    .middle__item:not(.opened) .middle__video {
        width: auto;
    }
}
