/*// non critical css for main page //*/
.logo__img {
    width: 100%
}

.logo g>g path {
    transition: all ease .6s
}

.logo:hover g>g path {
    fill: #efbb35
}

.logo:hover g>g:nth-child(3) path {
    fill: #f9ffee
}

.top-interactive_1.hide,
.top-interactive_1:hover,
.top-interactive_2.hide,
.top-interactive_2:hover {
    color: #6bb756
}

.top__text::selection,
.in_text_link::selection {
    color: #6bb756
}

.top-interactive_1::selection,
.top-interactive_2::selection,
br::selection,
.in_text_link::selection {
    background-color: #333
}

.middle__item.opened {
    max-height: 550px
}

.middle__close::selection,
.middle__link::selection {
    color: #6bb756
}

.middle__link.clicked {
    margin-bottom: 40px
}

.opened .middle__close:hover {
    color: #f9ffee
}

.cont_wr__item p::selection {
    color: #efbb35;
    background-color: #222
}

.cont_wr-col{
    color: #efbb35;
}

.cont_wr-col::selection{
    color: #f9ffee;
    background-color: #222
}

.popUp__wrap {
    position: absolute;
    width: 100%;
    max-width: 80%;
    height: 100%;
    max-height: 80%;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    transform: translateX(130%);
    transition: all ease 1s
}

.show .popUp__wrap {
    transform: none
}

.hide .popUp__wrap {
    transform: translateX(130%)
}

.popUp {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8)
}

.show.popUp {
    opacity: 1;
    z-index: 4;
    transition: opacity ease .4s
}

.hide.popUp {
    opacity: 0;
    transition: opacity ease .4s .6s
}

.popUp__img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.popUp__close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 40px;
    right: 40px;
    top: 5%;
    transform: translateY(-50%)
}

.outer {
    position: relative;
    margin: auto;
    width: 40px;
    cursor: pointer;
    height: 100%
}

.inner {
    width: inherit;
    text-align: center;
    height: 100%
}

.close_label {
    font-size: .8em;
    line-height: 2.7em;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer
}

.inner:after,
.inner:before {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: #efbb35;
    left: 0;
    transition: all .3s ease-in
}

.inner:before {
    top: 50%;
    transform: rotate(45deg)
}

.inner:after {
    bottom: 50%;
    transform: rotate(-45deg)
}

.outer:hover .close_label {
    opacity: 1
}

.outer:hover .inner:after,
.outer:hover .inner:before {
    transform: rotate(0)
}

.outer:hover .inner:before {
    top: 0
}

.outer:hover .inner:after {
    bottom: 0
}

.popUp__text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 90%;
    font-size: 26px;
    opacity: 0
}

.close_label::selection {
    color: #6bb756
}

.cont_wr__image::selection {
    background-color: #333
}

.popUp__img::selection,
.popUp__text::selection {
    background-color: #6bb756
}

.show .popUp__text {
    opacity: 1;
    transition: all ease .5s .5s
}

.hide .popUp__text {
    opacity: 0;
    transition: all ease .5s .2s
}